@page "/learnblazor/bindprop"

<MudText Typo="Typo.h4" Color="Color.Success">Individual Product</MudText>
<MudGrid>
    <MudItem xs="12" md="6" Class="pa-8">
        <MudPaper Class="pa-4" Height="100%">
            <MudText Typo="Typo.h5" Color="Color.Primary" GutterBottom>Product Playground</MudText>
            <MudCheckBox Color="Color.Primary" Label="Active" @bind-Checked="@product.IsActive" />
            <MudNumericField Immediate="true" Label="Price" @bind-Value="@product.Price" />
            <MudSelect Label="Product Properties" Class="pt-2" @bind-Value="@SelectedProp">
                @foreach (var prop in product.Properties)
                {
                    <MudSelectItem Value="@prop.Key">@prop.Key</MudSelectItem>
                }
            </MudSelect>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" md="6" Class="pa-8">
        <MudPaper Class="pa-4" Height="100%">
            <MudText Typo="Typo.h5" Color="Color.Primary" GutterBottom="true">Product Summary</MudText>
            <MudText>
                Name: @product.Name <br />
                Active: @product.IsActive <br />
                Price: @product.Price <br />
                This product is: @(product.IsActive ? "Active" : "Inactive") <br />
                Property Selected: @SelectedProp
                @if (!string.IsNullOrWhiteSpace(SelectedProp))
                {
                    <p>Property Value: @product.Properties.FirstOrDefault(u=>u.Key==SelectedProp).Value</p>
                }
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h4" Color="Color.Success">Products Table</MudText>
        <MudSimpleTable Hover="true">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">IsActive</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < products.Count; i++)
                {
                    int index = i;
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <th><MudTextField Immediate="true" @bind-Value="@(products[index].Name)" /></th>
                        <th><MudTextField Immediate="true" @bind-Value="@(products[index].Price)" /></th>
                        <th><MudCheckBox Color="Color.Primary" @bind-Checked="@(products[index].IsActive)" /></th>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <br />
        <MudText Typo="Typo.h5" Color="Color.Primary" Class="mt-3">Products Summary</MudText>
        @foreach (var item in products)
        {
            <MudText>
                @item.Name - @item.Price - @(item.IsActive ? "Active" : "Inactive")
            </MudText>
        }
    </MudItem>
</MudGrid>
<br />

@code {
    string SelectedProp = "";

    Demo_Product product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            Price = 10.99,
            IsActive = true,
            Properties = new List<Demo_ProductProp>()
            {
                new Demo_ProductProp{ Id=1, Key="Color", Value="Black"},
                new Demo_ProductProp{ Id=1, Key="Flavor", Value="Rose Jasmine"},
                new Demo_ProductProp{ Id=1, Key="Size", Value="20oz"}
            }
        };

    List<Demo_Product> products = new();

    protected override void OnInitialized()
    {
        products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                Price = 12.99,
                IsActive = false,
                Properties = new()
                {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                        new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                Price = 19.99,
                IsActive = true,
                Properties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                    new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                    new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
                }
            });
    }
}
