@page "/learnblazor/demoproduct"

<h3 class="text-primary">DemoProduct</h3>

<div class="row">
    @foreach (var product in products)
    {
        <div class="col-xs-12 col-md-6 col-xl-4 col-xxl-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="pb-2">Product #@product.Id</h5>
                    <div>Name: @product.Name</div>
                    <div>
                        Show Properties:
                        <input type="checkbox" @bind="@(product.IsActive)" />
                    </div>
                    @if (@product.IsActive)
                    {
                        @foreach (var prop in product.Properties)
                        {
                            <div class="mt-1">@(prop.Key): @prop.Value</div>
                        }
                    }
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success" style="width:100px">Edit</button>
                    <button type="button" class="btn btn-danger" style="width:100px">Delete</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private string SelectedProp = "";
    List<Demo_Product> products = new();

    protected override void OnInitialized()
    {
        products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                Price = 12.99,
                IsActive = false,
                Properties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                    new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                Price = 19.99,
                IsActive = true,
                Properties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                    new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                    new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
                }
            });
    }
}
